<%- include("./partials/head") %>
<div class="container-scroller">
  <!-- partial:partials/_sidebar.html -->
  <%- include("./partials/sidebar") %>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    <%- include("./partials/navbar") %>
    <!-- partial -->
    <div class="main-panel">

<!--  <script>
    $(".js-example-basic-multiple-limit").select2({
        maximumSelectionLength: 2
        });
</script>-->
<!-- CONTENIDO -->
<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Chat de Soporte</h3>
            <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
          </div>
        </div>
    </div>
</div>

<!-- FIN contenido -->
<%- include("partials/footer") %>