<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
<div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <a class="sidebar-brand brand-logo" href=""><img src="/assets/corona_assets/images/logo_haus4.png" alt="logo" /></a>
    <a class="sidebar-brand brand-logo-mini" href=""><img src="/assets/corona_assets/images/logo_haus4.png" alt="logo" /></a>
</div>
<ul class="nav">
    <li class="nav-item profile">
    <div class="profile-desc">
        <div class="profile-pic">
        <div class="count-indicator">
            <i class="fa-solid fa-user"></i>
            <span class="count bg-success"></span>
        </div>
        <div class="profile-name">
            <h5 class="mb-0 font-weight-normal"><%= session.fullName %></h5>
        </div>
        </div>
        <a href="#" id="profile-dropdown" data-bs-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
        <a href="/users/changePassword" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
            <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-onepassword  text-info"></i>
            </div>
            </div>
            <div class="preview-item-content">
            <p class="preview-subject ellipsis mb-1 text-small">Cambiar Password</p>
            </div>
        </a>
        <div class="dropdown-divider"></div>
        <a href="/users/logout" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
            <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-logout text-danger"></i>
            </div>
            </div>
            <div class="preview-item-content">
            <p class="preview-subject ellipsis mb-1 text-small">Logout</p>
            </div>
        </a>
        </div>
    </div>
    </li>
    <li class="nav-item nav-category">
    <span class="nav-link">Barra lateral</span>
    </li>
    <li class="nav-item menu-items">
    <a class="nav-link" href="/">
        <span class="menu-icon">
        <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Home</span>
    </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" data-bs-toggle="collapse" href="#hardwares_available" aria-expanded="false" aria-controls="hardwares_available">
            <span class="menu-icon">
            <i class="mdi mdi-laptop"></i>
            </span>
            <span class="menu-title">Dispositivos <br>Habilitados</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="hardwares_available">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/hardwaresAvailable/create">
                    <i class="fa-solid fa-chevron-right fa-sm me-1"></i> Crear</a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="/hardwaresAvailable/list">
                    <i class="fa-solid fa-chevron-right fa-sm me-1"></i> Lista</a>
                </li>
                <!--<li class="nav-item"> <a class="nav-link" href="/hardwares_available/hardwares_list">
                    <i class="fa-solid fa-chevron-right fa-sm me-1"></i> Lista de dispositivos</a>
                </li>-->
            </ul>
        </div>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" data-bs-toggle="collapse" href="#hardwares" aria-expanded="false" aria-controls="hardwares">
            <span class="menu-icon">
            <i class="mdi mdi-laptop"></i>
            </span>
            <span class="menu-title">Mis Dispositivos</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="hardwares">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/hardwares/create">
                    <i class="fa-solid fa-chevron-right fa-sm me-1"></i> Conectar</a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="/hardwares/list">
                    <i class="fa-solid fa-chevron-right fa-sm me-1"></i> Lista</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" data-bs-toggle="collapse" href="#user" aria-expanded="false" aria-controls="user">
            <span class="menu-icon">
            <i class="mdi mdi-laptop"></i>
            </span>
            <span class="menu-title">Usuario</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="user">
            <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/users/create">
                <i class="fa-solid fa-chevron-right fa-sm me-1"></i>Crear</a>
            </li>
            <li class="nav-item"> <a class="nav-link" href="/users/list">
                <i class="fa-solid fa-chevron-right fa-sm me-1"></i>Lista</a>
            </li>
            </ul>
        </div>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" data-bs-toggle="collapse" href="#ratings" aria-expanded="false" aria-controls="ratings">
            <span class="menu-icon">
            <i class="mdi mdi-laptop"></i>
            </span>
            <span class="menu-title">Califaciones</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ratings">
            <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/ratings/my">
                <i class="fa-solid fa-chevron-right fa-sm me-1"></i>Mis calificaciones</a>
            </li>
            </ul>
        </div>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" data-bs-toggle="collapse" href="#categoriesTypes" aria-expanded="false" aria-controls="categoriesTypes">
            <span class="menu-icon">
            <i class="mdi mdi-laptop"></i>
            </span>
            <span class="menu-title">Categorias y Tipos</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="categoriesTypes">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/categoriesTypes/create">
                    <i class="fa-solid fa-chevron-right fa-sm me-1"></i>Crear</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" data-bs-toggle="collapse" href="#tutorials" aria-expanded="false" aria-controls="tutorials">
            <span class="menu-icon">
            <i class="mdi mdi-laptop"></i>
            </span>
            <span class="menu-title">Tutoriales</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="tutorials">
            <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/tutorials/create">
                <i class="fa-solid fa-chevron-right fa-sm me-1"></i>Crear</a>
            </li>
            <li class="nav-item"> <a class="nav-link" href="/tutorials/list">
                <i class="fa-solid fa-chevron-right fa-sm me-1"></i>Lista</a>
            </li>
            </ul>
        </div>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/reports/">
            <span class="menu-icon">
            <i class="mdi mdi-chart-bar"></i>
            </span>
            <span class="menu-title">Reportes</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" data-bs-toggle="collapse" href="#tutorials" aria-expanded="false" aria-controls="tutorials">
            <span class="menu-icon">
                <i class="mdi mdi-weather-hail"></i>
            </span>
            <span class="menu-title">Automatizacion<br> por Temperatura</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="tutorials">
            <ul class="nav flex-column sub-menu">
            <li class="nav-item">
                <div id="cont_d4109cc87b677271adef307e24107bc0">
                    <script type="text/javascript" async src="https://www.theweather.com/wid_loader/d4109cc87b677271adef307e24107bc0"></script> <!-- Api para temperatura y clima visual -->
                </div>
            </li>
            </ul>
        </div>
        <script>
            
            setInterval(()=>{
                fetch("https://api.openweathermap.org/data/2.5/weather?lat=-34.60&lon=-58.38&appid=5bdb60e2819ffc98890bd04cad02b8f9")/* Llave de la api para conexion a dispositivos */
            .then((data)=>{
                return data.json()
            })
            .then((data)=>{
                console.log(data)
                if(data.main.temp < 10 ){
                    array_dispositivos_frio.forEach(disp => {
                        disp.activate(data.main.temp)//Activacion de disposito en tiempo real.
                    });
                }
                if(data.main.temp > 30 ){
                    array_dispositivos_calor.forEach(disp => {
                        disp.activate(data.main.temp)//Activacion de disposito en tiempo real.
                    });
                }
            });
            },5000)//Verificacion de temperatura actual cada 1minuto.
            
        </script>
    </li>
</ul>
</nav>
<!-- partial -->